# Ignore the build_windows folder
/build_windows

# Ignore the build_linux folder
/build_linux

# Ignore the build_macos folder
/cmake-build-debug

# Ignore the .vscode  folder
.vscode

# Ignore the .idea folder on Clion
.idea
